<div class="bg-MypaleGrey pb-7 pt-0">   
    <div class="h-fit w-full sm:w-10/12 mx-auto pt-7">
        <div class="flex items-center gap-2 text-xs text-gray-600 mb-3">
            <a href="" class="hover:underline">Trang chủ</a>
            <i class="fa-solid fa-angle-right"></i>
            <a href="" class="last:text-black font-medium">Giỏ hàng</a>
        </div>

        <div class="flex gap-3 flex-col xl:flex-row">

            <div class="w-full bg-white h-fit">
                <table class="min-w-full text-center text-sm table-auto">
                    <thead class="font-medium">
                        <tr>
                            <th scope="col" class="px-2 sm:px-6 py-4 text-left">Sản phẩm</th>
                            <th scope="col" class="px-2 sm:px-6 py-4">Đơn giá</th>
                            <th scope="col" class="px-2 sm:px-6 py-4">Số lượng</th>
                            <th scope="col" class="px-2 sm:px-6 py-4 sm:min-w-[115px]">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cart}}
                        <tr class="first:border-t-8 first:border-MypaleGrey border-t border-gray-200">
                            <td class="px-2 sm:px-6 py-4">
                                <div class="flex gap-2">
                                    <img src="/images/product/{{split image ',' 0}}" alt="" class="hidden md:block w-[80px] h-[100px] object-cover">
                                    <p>{{productname}}</p>
                                </div>
                            </td>
                            <td class="whitespace-nowrap px-2 sm:px-6 py-4 align-top">{{formatCurrency discountprice}}đ</td>
                            <td class="whitespace-nowrap px-2 sm:px-6 py-4 align-top">
                                <form action="" method="post">
                                    <input type="text" hidden name="productid" value="{{productid}}">
                                    <input type="text" hidden name="cartid" value="{{cartid}}">
                                    <button class="w-5 h-full bg-gray-200 hover:bg-gray-400" type="submit" id="qtyminus" onclick="adjustQuantity(this, 'decrease')">-</button>
                                    <input class="w-7 text-center outline-none" type="number" readonly name="quantity" value="{{quantity}}" data-product-id="49">
                                    <button class="w-5 h-full bg-gray-200 hover:bg-gray-400" type="submit" id="qtyplus" onclick="adjustQuantity(this, 'increase')">+</button>
                                </form>
                            </td>
                            <td class="whitespace-nowrap px-2 sm:px-6 py-4 align-top text-base text-red-700">{{formatCurrency totalprice}}đ</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="min-w-[300px]">
                <div class="bg-white w-full p-3">
                    <p class="text-gray-400 text-lg">Địa chỉ giao</p>
                    <div class="flex py-3">
                        <div class="mr-4">
                            <p class="whitespace-nowrap">Tên:</p>
                            <p class="whitespace-nowrap">Số điện thoại:</p>
                            <p class="whitespace-nowrap">Địa chỉ:</p>
                        </div>
                        <div>
                            <p>{{user.fullname}}</p>
                            <p>{{user.phone}}</p>
                            <p>{{user.address}}</p>
                        </div>
                    </div>
                    <div class="border-t border-gray-300 py-4">
                        <div class="flex justify-between">
                            <p class="text-gray-500">Tạm tính</p>
                            <p class="text-red-700 text-lg">{{formatCurrency tmpPrice}}đ</p>
                        </div>
                        <div class="flex justify-between">
                            <p class="text-gray-500">Phí vận chuyển</p>
                            <p class="text-red-700 text-lg">15.000đ</p>
                        </div>
                    </div>
                    <div class="border-t border-gray-300 pt-5 pb-2">
                        <p class="text-center text-xl text-gray-500">Tổng tiền</p>
                        <p class="text-center text-xl text-red-700">{{formatCurrency totalPrice}}đ</p>
                    </div>
                </div>
                <form action="/user/checkout" method="post">
                    <div class="bg-white w-full p-3 border-t-8 border-MypaleGrey">
                        <p class="text-gray-400 text-lg">Ghi chú</p>
                        <textarea class="w-full p-2 outline-none focus:border focus:border-MydarkYellow" rows="2" name="note">

                        </textarea>
                    </div>
                    <button class="py-3 bg-MypaleYellow text-white w-full mt-3 text-xl hover:bg-MydarkYellow">
                        Đặt hàng
                    </button>
                </form>
            </div>
            


        </div>
    </div>
</div> 